Last login: Fri May 21 13:37:31 on ttys001
jeremiebitancor@iMac Movies % nano .gitig
jeremiebitancor@iMac Movies % nano .gitignore 
jeremiebitancor@iMac Movies % nano Podfile
jeremiebitancor@iMac Movies % nano .gitignore



























  GNU nano 2.0.6                  File: .gitignore                                            


# Created by https://www.toptal.com/developers/gitignore/api/swift,cocoapods,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,cocoapods,xcode

### CocoaPods ###
## CocoaPods GitIgnore Template

# CocoaPods - Only use to conserve bandwidth / Save time on Pushing
#           - Also handy if you have a large number of dependant pods
#           - AS PER https://guides.cocoapods.org/using/using-cocoapods.html NEVER IGNORE THE$
Pods/

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & $

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
                                      [ Read 114 lines ]
^G Get Help    ^O WriteOut    ^R Read File   ^Y Prev Page   ^K Cut Text    ^C Cur Pos
^X Exit        ^J Justify     ^W Where Is    ^V Next Page   ^U UnCut Text  ^T To Spell

